

<div class="dashbrd_page">
 <header>
 <h2><a href="/users/dashboard"><i class="fa fa-angle-left" aria-hidden="true"></i></a>Registration Form</h2>
   <!--<nav class="top-bar" data-topbar="" role="navigation">
        <ul class="title-area">
          <li class="name">
            <a href="#"> <img class="logo01" src="image/login-page-logo.png" alt="logo"></a> 
          </li>
          
        </ul>
       </nav>-->
 </header>
 
<div class="pending_listing">

<div class="widget-body register_form">
   <div class="panel-body">
     
   <form class="form-horizontal">
     <div class="col-sm-12">
           <button onclick="document.getElementById('image-upload1').click();" type="button" class="company_brand">
                <div class="company-brand_1">
                    <div class="cmpny_img">
                       <i class="fa fa-camera"></i> 
                    </div>  
                    <h3>Profile Photo</h3>  
                    <span>Please upload your brand image</span>    
                     
                    <input id="image-upload1" class="hide" type="file">  
                 </div>
             </button>
</div>
  <div class="form-group">
    <div class="col-sm-12">
      <input type="text" class="form-control" placeholder="Employee First Name">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <input type="text" class="form-control" placeholder="Employee Last Name">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <input type="email" class="form-control" placeholder="Employee Email">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <input type="text" class="form-control" placeholder="Employee Code">
    </div>
  </div>
  <div class="form-group">
   <div class="sec_box">
    <div class="col-sm-12">
       <select class="form-control" placeholder="Department">
         <option value="department">Department</option>
         <option value="department">Department</option>
         <option value="department">Department</option>
       </select> 
    </div>
   </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
     <div class="date_sec">
      <input type="text" class="form-control" placeholder="DOB">
        <div class="date_icon">
          <i class="fa fa-calendar" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
   <div class="sec_box">
    <div class="col-sm-12">
       <select class="form-control" placeholder="Gender">
       <option value="Gender">Gender</option>
         <option value="Male">Male</option>
         <option value="Female">Female</option>
       </select> 
    </div>
   </div>
  </div>
  <div class="form-group">
       <div class="col-md-12" >
         <input id="phone" type="tel" class="form-control" placeholder="Contact Number">
       </div>
  </div>
  <div class="form-group">
       <div class="col-md-12">
         <input id="phone" type="tel" class="form-control" placeholder="Alternate Number">
       </div>
  </div>
  <div class="form-group">
   <div class="sec_box">
    <div class="col-sm-12">
       <select class="form-control" placeholder="State">
         <option value="Alabama">State</option>
         <option value="Alaska">Alaska</option>
         <option value="Arizona">Arizona</option>
       </select> 
    </div>
   </div> 
  </div>
  
  <div class="form-group">
    <div class="col-sm-12">
      <input type="text" class="form-control" placeholder="City">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <input type="text" class="form-control" placeholder="Address">
    </div>
  </div>
<div class="form-group">
             <button type="submit" class="btn btn-responsive btn-primary ">Save</button>
             <button type="submit" class="btn btn-responsive btn-default ">Cancel</button>
 </div>
</form>
  </div>
</div> 
</div>
    
</div>
<!--dashbrd_page-->
    

     