<div class="dashbrd_page">
 <header class="top_panel_wrap">
   <h2>
     <a href="/users/dashboard">
       <i class="fa fa-angle-left" aria-hidden="true"></i>
     </a>Reports
   </h2>


   </header>
   <div class="leave_listng">
  
     <ul>
      <li><a href="/users/alluserreport"><i class="fa fa-sticky-note" aria-hidden="true"></i>All User Leaves</a><small></small></li>
      <li><a href="/users/specificuserreport"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>Specific Period Leaves</a><small></small></li>
      
     </ul>
     
   </div>   
 </div>  